*.o
.*.swp
libexo/libexo.a
sim-bpred
sim-cache
sim-eio
sim-fast
sim-outorder
sim-profile
sim-safe
sim-singlecycle
sysprobe
toolchain/
benchmarks (1)/
labs/*.out
labs/*.trc
labs/*.pisa
labs/hello_toolchain_test.c
SimpleScalar/experiments/*.aux
SimpleScalar/experiments/*.log
SimpleScalar/experiments/*.out
SimpleScalar/experiments/*.toc
